.main {
  --outer-width: 60vw;
  --gradient-left: #c83c92;
  --gradient-right: #94cd3a;
  display: flex;
  place-content: center;
  background: linear-gradient(-45deg, #000046, #1CB5E0);
}

@media (prefers-color-scheme: dark) {
  .main {
    background: linear-gradient(-45deg, #0f0c29,#302b63, #24243e);

    --gradient-left: #3f8c46;
    --gradient-right: #924841;
  }
}

.innermain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: rgb(204, 196, 203);
  gap: 4rem;
  max-width: var(--outer-width);
}

@media screen and (max-width: 800px) {
  .main {
    --outer-width: 90vw;
  }
}

.linkgroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.link {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid lightblue;
  font-size: 17px;
}

.mainbold {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(to right, var(--gradient-left), var(--gradient-right));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  
  transition: all 0.5s ease;
}

.littletext {
  font-size: 17px;
  line-height: 175%;
}

.subtitle {
  color: gray;
  font-size: 12px;
}

.comingsoon {
  text-decoration: line-through;
}