.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem;
}

.title {
    color: var(--heading-text-color);
    font-size: var(--large-font-size);
    font-weight: bold;
}

.title:hover {
    text-decoration: underline !important;
}

.desc {
    font-size: var(--smol-font-size);
    color: var(--subtitle-text-color);
}

.skillsBox {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.skillsBox p {
    font-size: var(--smol-font-size);
    color: var(--main-text-color);
}

.active {
    background: linear-gradient(to right, #3CA55C 0%, #B5AC49 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.active:hover {
    text-decoration: underline;
}